* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem .5rem;
}

img {
    width: 20rem;
    height: auto;
}

.owl-prev, .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    display: block !important;
    border:0px solid black;
    
}
.owl-prev { left: 5px; }
.owl-next { right: 5px; }
.owl-prev i, .owl-next i {transform : scale(2,4); color: white; opacity: 60%;}

.owl-item.active{
    opacity: 50%;
}

.owl-item.active.center {
    opacity: 100%;
    
}



